* {
    box-sizing: border-box;
}

/* ================================= 
   Base Styles
==================================== */

body {
    margin-top: 0;
}

img,
.slide img {
    width: 100%;
    height: 100%;
}


p {
    text-transform: capitalize;
    background-color: black;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    opacity: .5;
}

.caption {
    position: relative;
    bottom: 18px;
}

.left,
.right {
    background-color: black;
    width: .5em;       
}

/*------------- Search styles -----------------*/

#search {
    margin-top: 30px;
    width: 50%;
    height: 30px;
    outline: none;
    border-radius: 3px;
    
}

::placeholder {
    padding: 1px;
    text-transform: capitalize;
}

/*------------- Interactive styles -----------------*/

/* img:hover {
    
} */

#search:hover {
    box-shadow: 5px 5px 5px 1px rgb(211, 205, 205);
}

.close {
    cursor: pointer;
    color: white;
    position: absolute;
    right: -40px;
    top: 10px;
    font-size: 30px;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: white;
  transition: 0.6s ease;
  -webkit-user-select: none;
}

.next {
  right: -35px;
}
.previous {
    left: -35px;
}

.next,
.previous {
    transition: transform 1s;
}

.next:hover,
.previous:hover {
    transform: scale(0.9 , 0.9);
}

/* ================================= 
   Containe Styles
==================================== */

.container {
    max-width: 1000px;
    text-align: center;         
    margin: 0 auto;   
    overflow: hidden;         
}

.gallery {
    display: grid;
    margin-top: 30px;            
    margin-bottom: 30px;
    max-width: 1000px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-auto-rows: 200px; /* Size of implicit row tracks */
    gap: 1em;
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    margin: 0 auto;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    background-color: #fefefe;
    margin: 0 auto;
    width: 90%;
    height: 100vh;
    max-width: 1200px;
  }



  